<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Update country</title>
</head>
<body>
<form action="#" th:action="@{/country-update}" th:object="${country}" method="post">
  <label for="pkCountryId">ID</label>
  <input readonly type="number" th:field="*{pkCountryId}" id="pkCountryId" placeholder="ID">
  <br/>
  <label for="code">Code</label>
  <input type="text" th:field="*{code}" id="code" placeholder="Code">
  <br/>
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name">
  <br/>
  <input type="submit" value="Update Country">
</form>
</body>
</html>