<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update Tax Type</title>
</head>
<body>
<form action="#" th:action="@{/tax-type-update}" th:object="${taxType}" method="post">
  <label for="pkTaxTypeId">ID</label>
  <input readonly type="number" th:field="*{pkTaxTypeId}" id="pkTaxTypeId" placeholder="ID">
  <br/>
  <label for="code">Code</label>
  <input type="text" th:field="*{code}" id="code" placeholder="Code">
  <br/>
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name">
  <br/>
  <input type="submit" value="Update Tax Type">
</form>
</body>
</html>