<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Create Tax History</title>
</head>
<body>
<form action="#" th:action="@{/tax-history-create}" th:object="${countryTaxHistory}" method="post">
  <label for="country">Country</label>
  <select th:field="*{country}" id="country" placeholder="Country">
    <option th:each="country : ${countries}"
            th:value="${country.pkCountryId}"
            th:text="${country.name}">
    </option>
  </select>
  <label for="taxType">Tax Type</label>
  <select th:field="*{taxType}" id="taxType" placeholder="Tax Type">
    <option th:each="taxType : ${taxTypes}"
            th:value="${taxType.pkTaxTypeId}"
            th:text="${taxType.name}">
    </option>
  </select>
  <label for="actualBefore">Actual Before</label>
  <input type="date" th:field="*{actualBefore}" th:value="${#dates.format(actualBefore, 'yyyy-MM-dd')}" id="actualBefore" placeholder="Actual Before">

  <label for="taxRate">Tax Rate</label>
  <input type="number" th:field="*{taxRate}" id="taxRate" placeholder="Tax Rate">
  <input type="submit" value="Create Tax History">
</form>
</body>
</html>